@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
}
main{
    display: flex;
}
header{
    height: 20vh;
    background-color: #8D8484;
}
footer{
    height: 20vh;
    background-color: #BDBDBD;
}
.section-top{
    background-color: #776969;
}
.section-center{
    background-color: #643030;
}
.section-bottom{
    background-color: #441818;
}
section{
    height: 20vh;
    width: 73vw;
}
.aside-top{
    background-color: #937575;
}
.aside-bottom{
    background-color: #644C4C;
}
aside{
    height: 30vh;
    width: 27vw;
}
header, footer, section, aside{
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    font-family: "Inter", sans-serif;
    font-size: 45px;
    color: #FFFFFF;
}
header p{
    color: #000000;
}
footer p{
    color: #000000;
}



