body{
    background-color: white;
}
.products{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.item{
    width: 130px;
    height: 130px;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 60px 40px 60px 40px;
    font-size: 24px;
    border-radius: 30px;
    border: 3px solid black;
    justify-content: center;
    flex-direction: column-reverse;
}
img{
    width: 100%;
}
p{
    text-align: center;
    font-size: 32px;
    margin: 10px;
}

