* {
    margin: 0;
    padding: 0;
}

header, footer {
    height: 22vh;
    background-color: #D9D9D9;
}

aside {
    height: 56vh;
    width: 27vw;
    background-color: #C0BDBD;
}

.section-top {
    height: 28vh;
    width: 46vw;
    background-color: #827878;
}

.section-bottom {
    height: 28vh;
    width: 46vw;
    background-color: #B7ADAD;
}

main {
    display: flex;
}



