
.text{
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.item{display: flex;
    background-color: lightcoral;
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;

}
.rubik-pixels-regular {
    font-family: "Rubik Pixels", system-ui;
    font-weight: 400;
    font-style: normal;
}
.sedgwick-ave-display-regular {
    font-family: "Sedgwick Ave Display", cursive;
    font-weight: 400;
    font-style: normal;
}
.dancing-script-400 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.fjalla-one-regular {
    font-family: "Fjalla One", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.indie-flower-regular {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}

